In [1]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
basedir = './서울_열린데이터_광장_서울특별시_부동산_실거래가_정보/'
filenames = [f for f in os.listdir(basedir) if (f.endswith('.csv'))&('실거래가' in f)]
filenames

['서울특별시_부동산_실거래가_정보_2006년1.csv',
 '서울특별시_부동산_실거래가_정보_2007년.csv',
 '서울특별시_부동산_실거래가_정보_2008년.csv',
 '서울특별시_부동산_실거래가_정보_2009년.csv',
 '서울특별시_부동산_실거래가_정보_2010년.csv',
 '서울특별시_부동산_실거래가_정보_2011년.csv',
 '서울특별시_부동산_실거래가_정보_2012년.csv',
 '서울특별시_부동산_실거래가_정보_2013년.csv',
 '서울특별시_부동산_실거래가_정보_2014년.csv',
 '서울특별시_부동산_실거래가_정보_2015년.csv',
 '서울특별시_부동산_실거래가_정보_2016년.csv',
 '서울특별시_부동산_실거래가_정보_2017년.csv',
 '서울특별시_부동산_실거래가_정보_2018년.csv',
 '서울특별시_부동산_실거래가_정보_2019년.csv',
 '서울특별시_부동산_실거래가_정보_2020년.csv']

In [3]:
for i, f in enumerate(filenames):
    print(i)
    chunk = pd.read_csv(basedir + f, chunksize=1, encoding='euc-kr')
    df = next(chunk)
    print(df.shape)
    
    if i == 0:
        first_cols = df.columns
    elif i == 13:
        df = df.rename(columns={'실거래가아이디"':'실거래가아이디'})
        print(sum(df.columns == first_cols))
    else:
        print(sum(df.columns == first_cols))

0
(1, 19)
1
(1, 19)
19
2
(1, 19)
19
3
(1, 19)
19
4
(1, 19)
19
5
(1, 19)
19
6
(1, 19)
19
7
(1, 19)
19
8
(1, 19)
19
9
(1, 19)
19
10
(1, 19)
19
11
(1, 19)
19
12
(1, 19)
19
13
(1, 19)
19
14
(1, 19)
19

In [4]:
dfs_list = []
for i, f in tqdm(enumerate(filenames)):
    df = pd.read_csv(basedir + f, encoding='euc-kr')
    if i == 13:
        df = df.rename(columns={'실거래가아이디"':'실거래가아이디'})
    
    dfs_list.append(df)

0it [00:00, ?it/s]c:\users\max6296\ml\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
15it [00:05,  2.72it/s]

In [5]:
concat_df = pd.concat(dfs_list).reset_index(drop=True)
print(concat_df.shape)
concat_df.head()

(2261710, 19)

,실거래가아이디,지번코드,시군구코드,자치구명,법정동코드,법정동명,신고년도,업무구분코드,업무구분,물건번호,대지권면적,건물면적,관리구분코드,층정보,건물주용도코드,건물주용도,물건금액,건축년도,건물명
0,11470-2006-4-0009806-1,1147010100103390000,11470,양천구,1147010100,신정동,2006,4,신고,1,NaN,59.83,0,4.0,2001,아파트,215000000,2001.0,파인빌
1,11740-2006-4-0008699-1,1174010900102140060,11740,강동구,1174010900,천호동,2006,4,신고,1,44.36,50.25,0,1.0,2002,연립주택,135000000,1990.0,청남빌라
2,11470-2006-9-1800002-1,1147010200107090002,11470,양천구,1147010200,목동,2006,9,주택거래신고,1,NaN,77.17,0,14.0,2001,아파트,273000000,2000.0,성원2
3,11740-2006-4-0008698-1,1174010500101600000,11740,강동구,1174010500,길동,2006,4,신고,1,NaN,111.51,0,2.0,2001,아파트,425000000,1983.0,신동아
4,11470-2006-9-1800001-1,1147010100103140000,11470,양천구,1147010100,신정동,2006,9,주택거래신고,1,NaN,71.77,0,10.0,2001,아파트,630000000,1987.0,목동신시가지8

In [6]:
concat_df = concat_df.dropna(subset=['대지권면적']).reset_index(drop=True)

In [7]:
concat_df['건물주용도'].value_counts()

연립주택    667746
단독주택    191492
오피스텔    172878
아파트     117308
Name: 건물주용도, dtype: int64

In [8]:
dandok_df = concat_df[concat_df['건물주용도'] == '단독주택']

In [9]:
dandok_df.head()

,실거래가아이디,지번코드,시군구코드,자치구명,법정동코드,법정동명,신고년도,업무구분코드,업무구분,물건번호,대지권면적,건물면적,관리구분코드,층정보,건물주용도코드,건물주용도,물건금액,건축년도,건물명
1,11740-2006-4-0008697-1,1174010900,11740,강동구,1174010900,천호동,2006,4,신고,1,126.0,190.36,0,NaN,1001,단독주택,417000000,2005.0,NaN
5,11740-2006-4-0008668-1,1174010900,11740,강동구,1174010900,천호동,2006,4,신고,1,122.0,211.24,0,NaN,1001,단독주택,360000000,1990.0,NaN
7,11740-2006-4-0008664-1,1174010800,11740,강동구,1174010800,성내동,2006,4,신고,1,165.0,157.48,0,NaN,1001,단독주택,750000000,1968.0,NaN
11,11740-2006-4-0008603-1,1174010900,11740,강동구,1174010900,천호동,2006,4,신고,1,251.5,648.19,0,NaN,1001,단독주택,1350000000,1995.0,NaN
19,11740-2006-4-0008512-1,1174010700,11740,강동구,1174010700,암사동,2006,4,신고,1,348.0,188.39,0,NaN,1001,단독주택,840000000,1980.0,NaN

In [10]:
def isintable(x):
    if pd.isna(x) == True:
        return x
    else:
        x = str(x)
        try:
            int(x)
            return 1
        except:
            return np.nan

In [11]:
concat_df['intable'] = concat_df['지번코드'].apply(isintable)

In [12]:
concat_df.shape

(1149424, 20)

In [13]:
concat_df = concat_df.dropna(subset=['intable'])

In [14]:
concat_df['지번주소'] = '서울특별시 ' + concat_df['자치구명'] + ' ' + concat_df['법정동명'] + ' ' +\
concat_df['지번코드'].apply(lambda x: str(int(str(x)[-8:-4]))) + '-' +\
concat_df['지번코드'].apply(lambda x: str(int(str(x)[-4:])))

In [15]:
concat_df['지번주소'].unique()[:50]

array(['서울특별시 강동구 천호동 214-60', '서울특별시 강동구 천호동 7401-900',
       '서울특별시 강동구 길동 386-8', '서울특별시 강동구 천호동 451-20',
       '서울특별시 강동구 천호동 233-30', '서울특별시 강동구 성내동 545-1',
       '서울특별시 강동구 성내동 7401-800', '서울특별시 강동구 천호동 87-1',
       '서울특별시 강동구 암사동 489-3', '서울특별시 강동구 암사동 425-166',
       '서울특별시 강동구 상일동 347-2', '서울특별시 강동구 천호동 110-10',
       '서울특별시 강동구 암사동 483-22', '서울특별시 강동구 천호동 297-1',
       '서울특별시 강동구 천호동 339-12', '서울특별시 강동구 성내동 448-31',
       '서울특별시 강동구 천호동 302-6', '서울특별시 강동구 암사동 7401-700',
       '서울특별시 강동구 천호동 155-5', '서울특별시 강동구 고덕동 226-6',
       '서울특별시 강동구 상일동 174-0', '서울특별시 강동구 천호동 47-16',
       '서울특별시 강동구 성내동 212-2', '서울특별시 강동구 천호동 320-0',
       '서울특별시 강동구 천호동 337-30', '서울특별시 강동구 천호동 48-30',
       '서울특별시 강동구 고덕동 642-4', '서울특별시 강동구 천호동 53-4', '서울특별시 강동구 천호동 330-0',
       '서울특별시 강동구 성내동 465-4', '서울특별시 강동구 명일동 312-9',
       '서울특별시 강동구 암사동 491-50', '서울특별시 강동구 상일동 300-6',
       '서울특별시 강동구 천호동 166-71', '서울특별시 강동구 천호동 330-24',
       '서울특별시 강동구 성내동 457-16', '서울특별시 강동구 천호동 197-22',
       '서울특별시 강동구 천호동 395-73', '서울특별시 강동구 고덕동 7401-200',
       '서울특별시 강동구 암사동 483-17', '서울특별시 강동구 성내동 502-8',
       '서울특별시 강동구 천호동 337-92', '서울특별시 강동구 암사동 482-47',
       '서울특별시 강동구 천호동 53-13', '서울특별시 강동구 상일동 304-2',
       '서울특별시 강동구 둔촌동 446-29', '서울특별시 강동구 고덕동 165-3',
       '서울특별시 강동구 고덕동 179-2', '서울특별시 강동구 성내동 465-20',
       '서울특별시 강동구 천호동 536-3'], dtype=object)

In [16]:
concat_df.head()

,실거래가아이디,지번코드,시군구코드,자치구명,법정동코드,법정동명,신고년도,업무구분코드,업무구분,물건번호,대지권면적,건물면적,관리구분코드,층정보,건물주용도코드,건물주용도,물건금액,건축년도,건물명,intable,지번주소
0,11740-2006-4-0008699-1,1174010900102140060,11740,강동구,1174010900,천호동,2006,4,신고,1,44.36,50.25,0,1.0,2002,연립주택,135000000,1990.0,청남빌라,1.0,서울특별시 강동구 천호동 214-60
1,11740-2006-4-0008697-1,1174010900,11740,강동구,1174010900,천호동,2006,4,신고,1,126.00,190.36,0,NaN,1001,단독주택,417000000,2005.0,NaN,1.0,서울특별시 강동구 천호동 7401-900
2,11740-2006-4-0008689-1,1174010500103860008,11740,강동구,1174010500,길동,2006,4,신고,1,40.68,33.20,0,2.0,14202,오피스텔,42000000,1990.0,\t(386-8)\t,1.0,서울특별시 강동구 길동 386-8
3,11740-2006-4-0008688-1,1174010900104510020,11740,강동구,1174010900,천호동,2006,4,신고,1,38.74,28.43,0,12.0,14202,오피스텔,92500000,2003.0,오피스텔 트레벨,1.0,서울특별시 강동구 천호동 451-20
4,11740-2006-4-0008670-1,1174010900102330030,11740,강동구,1174010900,천호동,2006,4,신고,1,36.16,73.66,0,4.0,2002,연립주택,147000000,2002.0,대호주택,1.0,서울특별시 강동구 천호동 233-30

In [17]:
selected_df = concat_df[['지번주소', '건축년도', '건물면적', '대지권면적']].dropna().drop_duplicates().reset_index(drop=True)
selected_df = selected_df[selected_df['대지권면적'] > 0]
print(selected_df.shape)
selected_df.head()

(406005, 4)

                     지번주소    건축년도    건물면적   대지권면적
0    서울특별시 강동구 천호동 214-60  1990.0   50.25   44.36
1  서울특별시 강동구 천호동 7401-900  2005.0  190.36  126.00
2      서울특별시 강동구 길동 386-8  1990.0   33.20   40.68
3    서울특별시 강동구 천호동 451-20  2003.0   28.43   38.74
4    서울특별시 강동구 천호동 233-30  2002.0   73.66   36.16

In [18]:
selected_df.to_csv(basedir + '실거래_대지권면적.csv', index=False)