In [1]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
basedir = './국토교통부_실거래가_공개시스템/토지/'
filenames = [f for f in os.listdir(basedir) if (f.endswith('.csv'))&('(' in f)]
filenames

['토지(매매)__실거래가_20060101_20061231.csv',
 '토지(매매)__실거래가_20070101_20071231.csv',
 '토지(매매)__실거래가_20080101_20081231.csv',
 '토지(매매)__실거래가_20090101_20091231.csv',
 '토지(매매)__실거래가_20100101_20101231.csv',
 '토지(매매)__실거래가_20110101_20111231.csv',
 '토지(매매)__실거래가_20120101_20121231.csv',
 '토지(매매)__실거래가_20130101_20131231.csv',
 '토지(매매)__실거래가_20140101_20141231.csv',
 '토지(매매)__실거래가_20150101_20151231.csv',
 '토지(매매)__실거래가_20160101_20161231.csv',
 '토지(매매)__실거래가_20170101_20171231.csv',
 '토지(매매)__실거래가_20180101_20181231.csv',
 '토지(매매)__실거래가_20190101_20191231.csv',
 '토지(매매)__실거래가_20200101_20201231.csv',
 '토지(매매)__실거래가_20210101_20210318.csv']

In [3]:
for i, f in enumerate(filenames):
    print(i)
    chunk = pd.read_csv(basedir + f, chunksize=1)
    df = next(chunk)
    if '해제사유발생일' in df.columns.tolist():
        df = df.drop(columns=['해제사유발생일'])
        
    print(df.shape)
    display(df.head())
    
    if i == 0:
        first_cols = df.columns
    else:
        print(sum(df.columns == first_cols))

0
(1, 10)

             시군구  번지 지목       용도지역  도로조건    계약년월  계약일  계약면적(㎡) 거래금액(만원) 지분구분
0  서울특별시 구로구 오류동  2*  대  제2종일반주거지역  8m미만  200601    1    23.14    1,890

1
(1, 10)

             시군구   번지 지목       용도지역  도로조건    계약년월  계약일  계약면적(㎡) 거래금액(만원) 지분구분
0  서울특별시 강북구 미아동  7**  대  제2종일반주거지역  8m미만  200701    2     82.0   10,900

10
2
(1, 10)

              시군구  번지  지목    용도지역 도로조건    계약년월  계약일  계약면적(㎡) 거래금액(만원) 지분구분
0  서울특별시 서대문구 홍은동  산*  임야  개발제한구역    -  200801    1   1521.0    1,000

10
3
(1, 10)

                 시군구  번지 지목    용도지역 도로조건    계약년월  계약일  계약면적(㎡) 거래금액(만원) 지분구분
0  서울특별시 영등포구 영등포동5가  2*  대  일반상업지역    -  200901    1     1.67    1,200   지분

10
4
(1, 10)

             시군구   번지  지목    용도지역  도로조건    계약년월  계약일  계약면적(㎡) 거래금액(만원) 지분구분
0  서울특별시 도봉구 도봉동  산6*  임야  개발제한구역  8m미만  201001    3   1268.0   23,500

10
5
(1, 10)

             시군구    번지 지목       용도지역  도로조건    계약년월  계약일  계약면적(㎡) 거래금액(만원) 지분구분
0  서울특별시 관악구 남현동  1***  대  제2종일반주거지역  8m미만  201101    2    16.39    6,000   지분

10
6
(1, 10)

             시군구   번지 지목       용도지역  도로조건    계약년월  계약일  계약면적(㎡) 거래금액(만원) 지분구분
0  서울특별시 성동구 행당동  1**  대  제2종일반주거지역  8m미만  201201    2     17.0    1,000

10
7
(1, 10)

,시군구,번지,지목,용도지역,도로조건,계약년월,계약일,계약면적(㎡),거래금액(만원),지분구분
0,서울특별시 노원구 상계동,1**,종교용지,제2종일반주거지역,12m미만,201301,1,45.0,"14,027",

10
8
(1, 10)

             시군구   번지 지목       용도지역  도로조건    계약년월  계약일  계약면적(㎡) 거래금액(만원) 지분구분
0  서울특별시 강서구 화곡동  3**  대  제2종일반주거지역  8m미만  201401    2    351.0  153,500

10
9
(1, 10)

             시군구   번지  지목    용도지역 도로조건    계약년월  계약일  계약면적(㎡) 거래금액(만원) 지분구분
0  서울특별시 종로구 부암동  산1*  임야  개발제한구역    -  201501    1   1388.0   11,000

10
10
(1, 10)

             시군구    번지  지목       용도지역 도로조건    계약년월  계약일  계약면적(㎡) 거래금액(만원) 지분구분
0  서울특별시 강북구 수유동  산1**  임야  제1종일반주거지역    -  201601    4     17.0    1,387   지분

10
11
(1, 10)

             시군구   번지  지목    용도지역 도로조건    계약년월  계약일  계약면적(㎡) 거래금액(만원) 지분구분
0  서울특별시 은평구 진관동  산1*  임야  개발제한구역    -  201701    1    155.0    1,551   지분

10
12
(1, 10)

              시군구   번지 지목       용도지역  도로조건    계약년월  계약일  계약면적(㎡) 거래금액(만원) 지분구분
0  서울특별시 동대문구 전농동  1**  대  제3종일반주거지역  8m미만  201801    2    13.33   10,100   지분

10
13
(1, 10)

             시군구   번지   지목    용도지역  도로조건    계약년월  계약일  계약면적(㎡)  거래금액(만원) 지분구분
0  서울특별시 성북구 정릉동  8**  잡종지  개발제한구역  8m미만  201901    2     8.45         1   지분

10
14
(1, 10)

,시군구,번지,지목,용도지역,도로조건,계약년월,계약일,계약면적(㎡),거래금액(만원),지분구분
0,서울특별시 동작구 상도동,1**,잡종지,제2종일반주거지역,8m미만,202001,2,4.67,"1,400",지분

10
15
(1, 10)

              시군구   번지  지목       용도지역 도로조건    계약년월  계약일  계약면적(㎡) 거래금액(만원) 지분구분
0  서울특별시 동작구 노량진동  2**  도로  제3종일반주거지역    -  202101    2     50.0   50,000

10

In [4]:
dfs_list = []
for i, f in tqdm(enumerate(filenames)):
    df = pd.read_csv(basedir + f)
    if '해제사유발생일' in df.columns.tolist():
        df = df.drop(columns=['해제사유발생일'])
    
    dfs_list.append(df)

16it [00:00, 60.29it/s]

In [5]:
concat_df = pd.concat(dfs_list).reset_index(drop=True)
print(concat_df.shape)
concat_df.head()

(112329, 10)

,시군구,번지,지목,용도지역,도로조건,계약년월,계약일,계약면적(㎡),거래금액(만원),지분구분
0,서울특별시 구로구 오류동,2*,대,제2종일반주거지역,8m미만,200601,1,23.14,"1,890",
1,서울특별시 관악구 신림동,산9*,임야,제3종일반주거지역,25m미만,200601,2,26.00,"1,432",지분
2,서울특별시 강남구 역삼동,7**,대,제3종일반주거지역,8m미만,200601,2,393.30,"267,750",
3,서울특별시 서초구 신원동,3**,전,개발제한구역,8m미만,200601,2,684.00,"53,820",
4,서울특별시 관악구 신림동,산1**,임야,제3종일반주거지역,25m미만,200601,3,24.00,"1,325",지분

In [6]:
concat_df.isna().sum()

시군구          0
번지           0
지목           0
용도지역        31
도로조건         0
계약년월         0
계약일          0
계약면적(㎡)      0
거래금액(만원)     0
지분구분         0
dtype: int64

In [7]:
concat_df = concat_df.dropna()
print(concat_df.shape)

(112298, 10)

In [8]:
land_specs_df = pd.read_csv('./prepped_data/land_specs_ver_4.csv')
print(land_specs_df.shape)
land_specs_df.head()

(8706295, 11)

,지번주소,년,지목명,토지면적,용도지역명1,용도지역명2,토지이동상황,지형높이,지형형상,도로접면,공시지가
0,서울특별시 강남구 개포동 100-0,2013,전,876.0,자연녹지지역,지정되지않음,전,완경사,부정형,맹지,325000.0
1,서울특별시 강남구 개포동 100-0,2014,전,876.0,자연녹지지역,지정되지않음,전,완경사,부정형,맹지,330000.0
2,서울특별시 강남구 개포동 100-0,2015,전,876.0,자연녹지지역,지정되지않음,전,완경사,부정형,맹지,335000.0
3,서울특별시 강남구 개포동 100-0,2016,전,876.0,자연녹지지역,지정되지않음,전,완경사,부정형,맹지,345000.0
4,서울특별시 강남구 개포동 100-0,2017,전,876.0,자연녹지지역,지정되지않음,전,완경사,부정형,맹지,355000.0

In [9]:
land_specs_df['번지'] = land_specs_df['지번주소'].apply(lambda x: x.split(' ')[3])

In [10]:
land_specs_df['본번'] = land_specs_df['번지'].apply(lambda x: x.split('-')[0])

In [11]:
land_specs_df.head()

,지번주소,년,지목명,토지면적,용도지역명1,용도지역명2,토지이동상황,지형높이,지형형상,도로접면,공시지가,번지,본번
0,서울특별시 강남구 개포동 100-0,2013,전,876.0,자연녹지지역,지정되지않음,전,완경사,부정형,맹지,325000.0,100-0,100
1,서울특별시 강남구 개포동 100-0,2014,전,876.0,자연녹지지역,지정되지않음,전,완경사,부정형,맹지,330000.0,100-0,100
2,서울특별시 강남구 개포동 100-0,2015,전,876.0,자연녹지지역,지정되지않음,전,완경사,부정형,맹지,335000.0,100-0,100
3,서울특별시 강남구 개포동 100-0,2016,전,876.0,자연녹지지역,지정되지않음,전,완경사,부정형,맹지,345000.0,100-0,100
4,서울특별시 강남구 개포동 100-0,2017,전,876.0,자연녹지지역,지정되지않음,전,완경사,부정형,맹지,355000.0,100-0,100

In [12]:
def masking(x):
    # x is a string
    
    if pd.isna(x) == True:
        return x
    else:
        mask = ''
        for i in range(len(x)-1):
            mask += '*'
        
        return x[0] + mask

In [13]:
land_specs_df['본번_masked'] = land_specs_df['본번'].apply(masking)

In [14]:
land_specs_df.head()

,지번주소,년,지목명,토지면적,용도지역명1,용도지역명2,토지이동상황,지형높이,지형형상,도로접면,공시지가,번지,본번,본번_masked
0,서울특별시 강남구 개포동 100-0,2013,전,876.0,자연녹지지역,지정되지않음,전,완경사,부정형,맹지,325000.0,100-0,100,1**
1,서울특별시 강남구 개포동 100-0,2014,전,876.0,자연녹지지역,지정되지않음,전,완경사,부정형,맹지,330000.0,100-0,100,1**
2,서울특별시 강남구 개포동 100-0,2015,전,876.0,자연녹지지역,지정되지않음,전,완경사,부정형,맹지,335000.0,100-0,100,1**
3,서울특별시 강남구 개포동 100-0,2016,전,876.0,자연녹지지역,지정되지않음,전,완경사,부정형,맹지,345000.0,100-0,100,1**
4,서울특별시 강남구 개포동 100-0,2017,전,876.0,자연녹지지역,지정되지않음,전,완경사,부정형,맹지,355000.0,100-0,100,1**

In [15]:
land_specs_df['시군구'] = land_specs_df['지번주소'].apply(lambda x: x.split(' ')[0])\
+ ' ' + land_specs_df['지번주소'].apply(lambda x: x.split(' ')[1])\
+ ' ' + land_specs_df['지번주소'].apply(lambda x: x.split(' ')[2])

In [16]:
concat_df.rename(columns={'번지':'본번_masked'}, inplace=True)

In [17]:
def doro_condition(x):
    if pd.isna(x) == True:
        return x
    else:
        if '광대' in x:
            return '25m이상'
        elif '중로' in x:
            return '25m미만'
        elif '소로' in x:
            return '12m미만'
        elif '세로' in x:
            return '8m미만'
        else:
            return '-'

In [18]:
land_specs_df['도로조건'] = land_specs_df['도로접면'].apply(doro_condition)

In [19]:
land_specs_df['도로조건'].value_counts()

8m미만     4528353
-        1474646
12m미만    1131597
25m이상     878724
25m미만     692840
Name: 도로조건, dtype: int64

In [20]:
concat_df['년'] = concat_df['계약년월'].apply(lambda x: int(str(x)[:4]))

In [21]:
concat_df['지분구분'].value_counts()

      78138
지분    34160
Name: 지분구분, dtype: int64

In [22]:
concat_df['지분구분'].value_counts().index[0] == ' '

True

In [23]:
concat_df = concat_df[concat_df['지분구분'] == ' '].drop(columns=['지분구분']).reset_index(drop=True)
print(concat_df.shape)
concat_df.head()

(78138, 10)

,시군구,본번_masked,지목,용도지역,도로조건,계약년월,계약일,계약면적(㎡),거래금액(만원),년
0,서울특별시 구로구 오류동,2*,대,제2종일반주거지역,8m미만,200601,1,23.14,"1,890",2006
1,서울특별시 강남구 역삼동,7**,대,제3종일반주거지역,8m미만,200601,2,393.30,"267,750",2006
2,서울특별시 서초구 신원동,3**,전,개발제한구역,8m미만,200601,2,684.00,"53,820",2006
3,서울특별시 은평구 응암동,산*,임야,제1종일반주거지역,-,200601,3,1323.00,"12,000",2006
4,서울특별시 강남구 세곡동,2**,잡종지,자연녹지지역,-,200601,3,294.00,"15,120",2006

In [24]:
concat_df.rename(columns={'계약면적(㎡)':'토지면적'}, inplace=True)

In [25]:
concat_df.head()

,시군구,본번_masked,지목,용도지역,도로조건,계약년월,계약일,토지면적,거래금액(만원),년
0,서울특별시 구로구 오류동,2*,대,제2종일반주거지역,8m미만,200601,1,23.14,"1,890",2006
1,서울특별시 강남구 역삼동,7**,대,제3종일반주거지역,8m미만,200601,2,393.30,"267,750",2006
2,서울특별시 서초구 신원동,3**,전,개발제한구역,8m미만,200601,2,684.00,"53,820",2006
3,서울특별시 은평구 응암동,산*,임야,제1종일반주거지역,-,200601,3,1323.00,"12,000",2006
4,서울특별시 강남구 세곡동,2**,잡종지,자연녹지지역,-,200601,3,294.00,"15,120",2006

In [26]:
land_specs_df['토지이동상황'].value_counts()

단독          2587553
도로등         1628918
상업용          833384
다세대          784342
주상용          645523
주거기타         352130
아파트          326397
주거나지         325607
주상기타         232625
상업기타         182632
업무용          112527
자연림          111370
전             96351
연립            88350
하천등           83734
공원등           75373
상업나지          46166
공업용           36456
전기타           34474
주상나지          24243
토지임야          24131
공업기타          10582
주차장등          10364
답              8747
운동장등           8107
임야기타           6058
기타             6043
유해.혐오시설        5792
과수원            3925
답기타            3523
골프장 대중제        3008
공업나지           2515
조림             1641
공항             1492
위험시설           1090
콘도미니엄           306
발전소             300
특수기타            279
여객자동차터미널        164
고속도로휴게소          56
유원지               9
주.상복합용            1
Name: 토지이동상황, dtype: int64

In [27]:
land_specs_df.head()

,지번주소,년,지목명,토지면적,용도지역명1,용도지역명2,토지이동상황,지형높이,지형형상,도로접면,공시지가,번지,본번,본번_masked,시군구,도로조건
0,서울특별시 강남구 개포동 100-0,2013,전,876.0,자연녹지지역,지정되지않음,전,완경사,부정형,맹지,325000.0,100-0,100,1**,서울특별시 강남구 개포동,-
1,서울특별시 강남구 개포동 100-0,2014,전,876.0,자연녹지지역,지정되지않음,전,완경사,부정형,맹지,330000.0,100-0,100,1**,서울특별시 강남구 개포동,-
2,서울특별시 강남구 개포동 100-0,2015,전,876.0,자연녹지지역,지정되지않음,전,완경사,부정형,맹지,335000.0,100-0,100,1**,서울특별시 강남구 개포동,-
3,서울특별시 강남구 개포동 100-0,2016,전,876.0,자연녹지지역,지정되지않음,전,완경사,부정형,맹지,345000.0,100-0,100,1**,서울특별시 강남구 개포동,-
4,서울특별시 강남구 개포동 100-0,2017,전,876.0,자연녹지지역,지정되지않음,전,완경사,부정형,맹지,355000.0,100-0,100,1**,서울특별시 강남구 개포동,-

In [28]:
concat_df.head()

,시군구,본번_masked,지목,용도지역,도로조건,계약년월,계약일,토지면적,거래금액(만원),년
0,서울특별시 구로구 오류동,2*,대,제2종일반주거지역,8m미만,200601,1,23.14,"1,890",2006
1,서울특별시 강남구 역삼동,7**,대,제3종일반주거지역,8m미만,200601,2,393.30,"267,750",2006
2,서울특별시 서초구 신원동,3**,전,개발제한구역,8m미만,200601,2,684.00,"53,820",2006
3,서울특별시 은평구 응암동,산*,임야,제1종일반주거지역,-,200601,3,1323.00,"12,000",2006
4,서울특별시 강남구 세곡동,2**,잡종지,자연녹지지역,-,200601,3,294.00,"15,120",2006

In [29]:
concat_df['용도지역'].value_counts()

제2종일반주거지역    35776
제3종일반주거지역    15819
일반상업지역        7320
제1종일반주거지역     5957
준주거지역         3921
개발제한구역        3467
준공업지역         2292
자연녹지지역        1816
제1종전용주거지역     1059
근린상업지역         317
중심상업지역         114
일반주거지역          87
제2종전용주거지역       80
용도미지정           34
기타              25
전용주거지역          20
유통상업지역          19
생산녹지지역           9
계획관리지역           3
관리지역             1
일반공업지역           1
생산관리지역           1
Name: 용도지역, dtype: int64

In [30]:
land_specs_df['용도지역명1'].value_counts()

제2종일반주거지역    4779643
제3종일반주거지역    1321675
제1종일반주거지역     810249
일반상업지역        545318
준주거지역         370687
개발제한구역        312546
준공업지역         233470
자연녹지지역        186093
제1종전용주거지역      98817
근린상업지역         30654
중심상업지역          9922
생산녹지지역          5128
유통상업지역          1511
보전녹지지역           459
제2종전용주거지역        123
Name: 용도지역명1, dtype: int64

In [31]:
land_specs_df['용도지역명2'].value_counts()

지정되지않음       8403091
제2종일반주거지역      79846
제3종일반주거지역      74403
제1종일반주거지역      66219
일반상업지역         25762
자연녹지지역         22223
준주거지역          20113
개발제한구역          6559
준공업지역           2856
제1종전용주거지역       2189
근린상업지역          2053
생산녹지지역           588
보전녹지지역           234
중심상업지역            65
제2종전용주거지역         62
유통상업지역            32
Name: 용도지역명2, dtype: int64

In [32]:
concat_df['지목'].value_counts()

대        56965
도로       10569
임야        3762
전         2836
답         1613
잡종지        823
구거         347
철도용지       246
공장용지       186
공원         152
학교용지       121
주차장        103
하천          92
주유소용지       78
묘지          66
제방          61
종교용지        54
유지          17
수도용지        17
과수원         12
유원지          8
창고용지         5
사적지          3
체육용지         2
Name: 지목, dtype: int64

In [33]:
land_specs_df['지목명'].value_counts()

대        6634105
도로       1260678
임야        186951
전         139137
답          85242
하천         77525
잡종지        66887
구거         54710
공원         51461
철도용지       38563
학교용지       27550
종교용지       18354
제방         16423
공장용지       12025
주차장         9015
주유소용지       8096
수도용지        5848
묘지          3583
사적지         3545
유지          2577
과수원         2040
체육용지         899
창고용지         859
유원지          213
목장용지           9
Name: 지목명, dtype: int64

In [34]:
for v in (concat_df['지목'].unique()):
    if v in land_specs_df['지목명'].unique().tolist():
        pass
    else:
        print(v)

In [35]:
land_specs_df.rename(columns={'지목명':'지목', '용도지역명1':'용도지역'}, inplace=True)

In [36]:
land_specs_df.head()

,지번주소,년,지목,토지면적,용도지역,용도지역명2,토지이동상황,지형높이,지형형상,도로접면,공시지가,번지,본번,본번_masked,시군구,도로조건
0,서울특별시 강남구 개포동 100-0,2013,전,876.0,자연녹지지역,지정되지않음,전,완경사,부정형,맹지,325000.0,100-0,100,1**,서울특별시 강남구 개포동,-
1,서울특별시 강남구 개포동 100-0,2014,전,876.0,자연녹지지역,지정되지않음,전,완경사,부정형,맹지,330000.0,100-0,100,1**,서울특별시 강남구 개포동,-
2,서울특별시 강남구 개포동 100-0,2015,전,876.0,자연녹지지역,지정되지않음,전,완경사,부정형,맹지,335000.0,100-0,100,1**,서울특별시 강남구 개포동,-
3,서울특별시 강남구 개포동 100-0,2016,전,876.0,자연녹지지역,지정되지않음,전,완경사,부정형,맹지,345000.0,100-0,100,1**,서울특별시 강남구 개포동,-
4,서울특별시 강남구 개포동 100-0,2017,전,876.0,자연녹지지역,지정되지않음,전,완경사,부정형,맹지,355000.0,100-0,100,1**,서울특별시 강남구 개포동,-

In [37]:
print(concat_df.shape)
concat_df.head()

(78138, 10)

,시군구,본번_masked,지목,용도지역,도로조건,계약년월,계약일,토지면적,거래금액(만원),년
0,서울특별시 구로구 오류동,2*,대,제2종일반주거지역,8m미만,200601,1,23.14,"1,890",2006
1,서울특별시 강남구 역삼동,7**,대,제3종일반주거지역,8m미만,200601,2,393.30,"267,750",2006
2,서울특별시 서초구 신원동,3**,전,개발제한구역,8m미만,200601,2,684.00,"53,820",2006
3,서울특별시 은평구 응암동,산*,임야,제1종일반주거지역,-,200601,3,1323.00,"12,000",2006
4,서울특별시 강남구 세곡동,2**,잡종지,자연녹지지역,-,200601,3,294.00,"15,120",2006

In [38]:
merge_df = concat_df.merge(land_specs_df, on=['시군구', '본번_masked', '토지면적', '도로조건', '용도지역', '지목', '년'])
print(merge_df.shape)
merge_df.head()

(57189, 19)

,시군구,본번_masked,지목,용도지역,도로조건,계약년월,계약일,토지면적,거래금액(만원),년,지번주소,용도지역명2,토지이동상황,지형높이,지형형상,도로접면,공시지가,번지,본번
0,서울특별시 노원구 상계동,1**,종교용지,제2종일반주거지역,12m미만,201301,1,45.0,"14,027",2013,서울특별시 노원구 상계동 156-198,지정되지않음,주상기타,평지,사다리형,소로각지,2640000.0,156-198,156
1,서울특별시 노원구 상계동,1**,종교용지,제2종일반주거지역,12m미만,201301,1,9.0,"2,805",2013,서울특별시 노원구 상계동 156-196,지정되지않음,주상기타,평지,사다리형,소로각지,2640000.0,156-196,156
2,서울특별시 강북구 수유동,5**,대,제2종일반주거지역,8m미만,201301,2,66.0,"13,266",2013,서울특별시 강북구 수유동 526-28,지정되지않음,다세대,평지,사다리형,세로한면(가),1560000.0,526-28,526
3,서울특별시 강북구 수유동,5**,대,제2종일반주거지역,8m미만,201301,2,66.0,"13,266",2013,서울특별시 강북구 수유동 534-18,지정되지않음,단독,평지,사다리형,세로각지(가),1340000.0,534-18,534
4,서울특별시 강북구 수유동,5**,대,제2종일반주거지역,8m미만,201301,2,66.0,"13,266",2013,서울특별시 강북구 수유동 538-22,지정되지않음,단독,평지,부정형,세로한면(가),1300000.0,538-22,538

In [39]:
selected_cols = ['지번주소', '토지면적', '계약년월', '계약일', '거래금액(만원)']
ls_cols = [col for col in land_specs_df.columns if col not in ['지번주소', '년', '토지면적', '번지', '본번', '본번_masked', '시군구', '도로조건', '공시지가']]
ls_cols

['지목', '용도지역', '용도지역명2', '토지이동상황', '지형높이', '지형형상', '도로접면']

In [40]:
selected_df = merge_df[selected_cols + ls_cols]
print(selected_df.shape)
selected_df.head()

(57189, 12)

,지번주소,토지면적,계약년월,계약일,거래금액(만원),지목,용도지역,용도지역명2,토지이동상황,지형높이,지형형상,도로접면
0,서울특별시 노원구 상계동 156-198,45.0,201301,1,"14,027",종교용지,제2종일반주거지역,지정되지않음,주상기타,평지,사다리형,소로각지
1,서울특별시 노원구 상계동 156-196,9.0,201301,1,"2,805",종교용지,제2종일반주거지역,지정되지않음,주상기타,평지,사다리형,소로각지
2,서울특별시 강북구 수유동 526-28,66.0,201301,2,"13,266",대,제2종일반주거지역,지정되지않음,다세대,평지,사다리형,세로한면(가)
3,서울특별시 강북구 수유동 534-18,66.0,201301,2,"13,266",대,제2종일반주거지역,지정되지않음,단독,평지,사다리형,세로각지(가)
4,서울특별시 강북구 수유동 538-22,66.0,201301,2,"13,266",대,제2종일반주거지역,지정되지않음,단독,평지,부정형,세로한면(가)

In [41]:
%%time
selected_df.to_csv(basedir + '토지_매매_20130101_20210318.csv', index=False)

Wall time: 149 ms