In [1]:
import pandas as pd
import numpy as np
import os
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
import tqdm
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
matplotlib.rcParams['axes.unicode_minus'] = False
pd.options.mode.chained_assignment = None  # default='warn'
plt.rcParams['font.family'] = 'Malgun Gothic'
font = {'size': 16}
matplotlib.rc('font', **font)
tqdm.tqdm.pandas()
from numba import jit, njit

In [2]:
os.listdir()

['.ipynb_checkpoints',
 'catboost_info',
 'csv to excel.ipynb',
 'Dask practice.ipynb',
 'Dropna.ipynb',
 'Feature Engineering - Main Data - range 2 - 1 year-Copy1.ipynb',
 'Feature Engineering - Main Data - range 2 - 1 year.ipynb',
 'Feature Engineering - Main Data - range.ipynb',
 'Feature Engineering - 메인 데이터 - 계약날짜일수.ipynb',
 'Feature Engineering - 메인 데이터에 공시지가 합침.ipynb',
 'Feature Engineering - 메인 데이터에 토지특성정보 합침.ipynb',
 'Feature Engineering - 메인데이터에 좌표 합침.ipynb',
 'merge selected.ipynb',
 'Numba cuda practice.ipynb',
 'Numba practice with real data.ipynb',
 'Numba practice.ipynb',
 'Prepped Data',
 'range data preprocessing.ipynb',
 'Training',
 'Training 20211223.ipynb',
 'Training 20211230.ipynb',
 'training data prep 2 - main data + land specs + official land price - 20220124.ipynb',
 'training data prep 2 - main data + land specs - 20211230.ipynb',
 'training data prep 20211223.ipynb',
 'training data prep 3 & feat engi - main + range + land specs - 20220104-Copy1.ipynb',
 '개별공시지가정보',
 '개별공시지가정보 EDA - intersection with main data prep.ipynb',
 '메인 데이터 EDA 1 - 주소 nan, top1 도로명.ipynb',
 '메인 데이터 베이스라인 준비 20211202.ipynb',
 '서울시 개별공시지가 정보',
 '서울시 개별공시지가 정보 EDA & Preprocessing.ipynb',
 '연속지적_서울',
 '연속지적도 SHP 파일 EDA.ipynb',
 '연속지적도로부터 좌표 구하기 - polylabel 활용.ipynb',
 '연속지적도출처 좌표자료 정리.ipynb',
 '위치정보관련',
 '좌표 데이터 prep 2 - up to date data.ipynb',
 '좌표 데이터 준비.ipynb',
 '토지소유정보',
 '토지소유정보 EDA.ipynb',
 '토지특성정보 + 좌표 데이터 합침.ipynb',
 '토지특성정보 EDA.ipynb',
 '토지특성정보 데이터 EDA, preprocessing, feature engineering - land_specs_last_baseline_20211116.csv.ipynb',
 '토지특성정보 데이터 EDA, preprocessing, feature engineering.ipynb',
 '토지특성정보 데이터 베이스라인 준비 20211116.ipynb']

In [3]:
os.listdir('./서울시 개별공시지가 정보/')

['공시지가_1990년.csv',
 '공시지가_1991년.csv',
 '공시지가_1992년.csv',
 '공시지가_1993년.csv',
 '공시지가_1994년.csv',
 '공시지가_1995년.csv',
 '공시지가_1996년.csv',
 '공시지가_1997년.csv',
 '공시지가_1998년.csv',
 '공시지가_1999년.csv',
 '공시지가_2000년.csv',
 '공시지가_2001년.csv',
 '공시지가_2002년.csv',
 '공시지가_2003년.csv',
 '공시지가_2004년.csv',
 '공시지가_2005년.csv',
 '공시지가_2006년.csv',
 '공시지가_2007년.csv',
 '공시지가_2008년.csv',
 '공시지가_2009년.csv',
 '공시지가_2010년.csv',
 '공시지가_2011년.csv',
 '공시지가_2012년.csv',
 '공시지가_2013년.csv',
 '공시지가_2014년.csv',
 '공시지가_2015년.csv',
 '공시지가_2016년.csv',
 '공시지가_2017년.csv',
 '공시지가_2018년.csv',
 '공시지가_2019년.csv',
 '공시지가_2020년.csv',
 '공시지가_2021년.csv']

In [4]:
basedir = './서울시 개별공시지가 정보/'
filenames = [f for f in os.listdir(basedir) if '.csv' in f]
filenames

['공시지가_1990년.csv',
 '공시지가_1991년.csv',
 '공시지가_1992년.csv',
 '공시지가_1993년.csv',
 '공시지가_1994년.csv',
 '공시지가_1995년.csv',
 '공시지가_1996년.csv',
 '공시지가_1997년.csv',
 '공시지가_1998년.csv',
 '공시지가_1999년.csv',
 '공시지가_2000년.csv',
 '공시지가_2001년.csv',
 '공시지가_2002년.csv',
 '공시지가_2003년.csv',
 '공시지가_2004년.csv',
 '공시지가_2005년.csv',
 '공시지가_2006년.csv',
 '공시지가_2007년.csv',
 '공시지가_2008년.csv',
 '공시지가_2009년.csv',
 '공시지가_2010년.csv',
 '공시지가_2011년.csv',
 '공시지가_2012년.csv',
 '공시지가_2013년.csv',
 '공시지가_2014년.csv',
 '공시지가_2015년.csv',
 '공시지가_2016년.csv',
 '공시지가_2017년.csv',
 '공시지가_2018년.csv',
 '공시지가_2019년.csv',
 '공시지가_2020년.csv',
 '공시지가_2021년.csv']

In [5]:
dfs_list = []
for filename in tqdm.tqdm_notebook(filenames):
    df = pd.read_csv(basedir + filename, encoding='euc-kr')
    dfs_list.append(df)

c:\users\max6296\ml\lib\site-packages\ipykernel_launcher.py:2: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

  0%|          | 0/32 [00:00<?, ?it/s]

c:\users\max6296\ml\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (3,10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
c:\users\max6296\ml\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (3,9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
c:\users\max6296\ml\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (3,9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
official_price_df = pd.concat(dfs_list)

In [7]:
official_price_df['기준년월'] = pd.to_datetime(official_price_df['기준년월'])

In [8]:
official_price_df.head()

,시도명,시군구명,법정동명,토지코드,공시지가(원/㎡),시군구코드,법정동코드,필지구분코드,필지구분명,본번,부번,기준년도,기준년월
0,서울특별시,성북구,하월곡동,1129013600100840005,640000,11290,13600,1,토지,84,5,1990,1990-01-01
1,서울특별시,강북구,수유동,1130510300100500011,1000000,11305,10300,1,토지,50,11,1990,1990-01-01
2,서울특별시,강북구,수유동,1130510300100500014,1100000,11305,10300,1,토지,50,14,1990,1990-01-01
3,서울특별시,강북구,수유동,1130510300100500015,1100000,11305,10300,1,토지,50,15,1990,1990-01-01
4,서울특별시,강북구,수유동,1130510300100500016,1200000,11305,10300,1,토지,50,16,1990,1990-01-01

In [9]:
official_price_df = official_price_df.sort_values(['시도명', '시군구명', '법정동명', '필지구분코드', '본번', '부번', '기준년도', '기준년월']).reset_index(drop=True)
print(official_price_df.shape)
official_price_df.head()

(30385789, 13)

,시도명,시군구명,법정동명,토지코드,공시지가(원/㎡),시군구코드,법정동코드,필지구분코드,필지구분명,본번,부번,기준년도,기준년월
0,서울특별시,강남구,개포동,1168010300100010001,280000,11680,10300,1,토지,1,1,1990,1990-01-01
1,서울특별시,강남구,개포동,1168010300100010001,480000,11680,10300,1,토지,1,1,1991,1991-01-01
2,서울특별시,강남구,개포동,1168010300100010001,1300000,11680,10300,1,토지,1,1,1992,1992-01-01
3,서울특별시,강남구,개포동,1168010300100010001,1500000,11680,10300,1,토지,1,1,1993,1993-01-01
4,서울특별시,강남구,개포동,1168010300100010001,1500000,11680,10300,1,토지,1,1,1994,1994-01-01

In [10]:
official_price_df.dtypes

시도명                  object
시군구명                 object
법정동명                 object
토지코드                 object
공시지가(원/㎡)             int64
시군구코드                 int64
법정동코드                 int64
필지구분코드                int64
필지구분명                object
본번                   object
부번                   object
기준년도                  int64
기준년월         datetime64[ns]
dtype: object

In [11]:
official_price_df.isna().sum()

시도명           0
시군구명          0
법정동명          0
토지코드          0
공시지가(원/㎡)     0
시군구코드         0
법정동코드         0
필지구분코드        0
필지구분명         0
본번            0
부번           11
기준년도          0
기준년월          0
dtype: int64

In [12]:
def intable_func(x):
    try:
        int(x)
        return 1
    except:
        return 0

In [13]:
official_price_df['토지코드_intable'] = official_price_df['토지코드'].apply(intable_func)

In [14]:
official_price_df['토지코드_intable'].value_counts()

1    30377751
0        8038
Name: 토지코드_intable, dtype: int64

In [15]:
official_price_df = official_price_df[official_price_df['토지코드_intable'] == 1]
official_price_df = official_price_df.drop(columns=['토지코드_intable'])
print(official_price_df.shape)
official_price_df.head()

(30377751, 13)

,시도명,시군구명,법정동명,토지코드,공시지가(원/㎡),시군구코드,법정동코드,필지구분코드,필지구분명,본번,부번,기준년도,기준년월
0,서울특별시,강남구,개포동,1168010300100010001,280000,11680,10300,1,토지,1,1,1990,1990-01-01
1,서울특별시,강남구,개포동,1168010300100010001,480000,11680,10300,1,토지,1,1,1991,1991-01-01
2,서울특별시,강남구,개포동,1168010300100010001,1300000,11680,10300,1,토지,1,1,1992,1992-01-01
3,서울특별시,강남구,개포동,1168010300100010001,1500000,11680,10300,1,토지,1,1,1993,1993-01-01
4,서울특별시,강남구,개포동,1168010300100010001,1500000,11680,10300,1,토지,1,1,1994,1994-01-01

In [16]:
official_price_df['토지코드_length'] = official_price_df['토지코드'].apply(lambda x: len(str(x)))

In [17]:
official_price_df['토지코드_length'].value_counts()

19    30181251
29      196495
18           4
17           1
Name: 토지코드_length, dtype: int64

In [18]:
inv_df = official_price_df[official_price_df['토지코드_length'] != 19]
print(inv_df.shape)
inv_df.head()

(196500, 14)

,시도명,시군구명,법정동명,토지코드,공시지가(원/㎡),시군구코드,법정동코드,필지구분코드,필지구분명,본번,부번,기준년도,기준년월,토지코드_length
4770793,서울특별시,관악구,봉천동,1162010100100010001,2822000,11620,10100,1,토지,1,0001,2020,2020-01-01,29
4770863,서울특별시,관악구,봉천동,1162010100100010062,2741000,11620,10100,1,토지,1,0062,2020,2020-01-01,29
4770884,서울특별시,관악구,봉천동,1162010100100010065,2803000,11620,10100,1,토지,1,0065,2020,2020-01-01,29
4770926,서울특별시,관악구,봉천동,1162010100100010067,2622000,11620,10100,1,토지,1,0067,2020,2020-01-01,29
4770948,서울특별시,관악구,봉천동,1162010100100010068,2312000,11620,10100,1,토지,1,0068,2020,2020-01-01,29

In [19]:
inv_df['토지코드'].iloc[0]

'1162010100100010001          '

In [20]:
inv_df['토지코드'].iloc[0].replace(' ', '')

'1162010100100010001'

In [21]:
official_price_df['토지코드'] = official_price_df['토지코드'].apply(lambda x: str(x).replace(' ', ''))

In [22]:
official_price_df['토지코드_length'] = official_price_df['토지코드'].apply(lambda x: len(str(x)))

In [23]:
official_price_df['토지코드_length'].value_counts()

19    30377746
18           4
17           1
Name: 토지코드_length, dtype: int64

In [24]:
inv_df = official_price_df[official_price_df['토지코드_length'] != 19]
print(inv_df.shape)
inv_df.head()

(5, 14)

,시도명,시군구명,법정동명,토지코드,공시지가(원/㎡),시군구코드,법정동코드,필지구분코드,필지구분명,본번,부번,기준년도,기준년월,토지코드_length
11263333,서울특별시,동대문구,전농동,112301040010225000,326000,11230,10400,1,토지,225,0,2002,2002-01-01,18
11263335,서울특별시,동대문구,전농동,112301040010225000,389000,11230,10400,1,토지,225,0,2003,2003-01-01,18
19195399,서울특별시,성북구,성북동,11290101001000302,460000,11290,10100,1,토지,3,2,1990,1990-01-01,17
21365679,서울특별시,송파구,풍납동,117101030000000000,430000,11710,10300,0,잘못된코드,0,0,1994,1994-01-01,18
23882192,서울특별시,용산구,신계동,111701230010003000,1800000,11170,12300,1,토지,3,0,1999,1999-01-01,18

In [25]:
len(str(112301040010225000))

18

In [26]:
len(str(11290101001000302))

17

In [27]:
len(str(1168010300100010001))

19

In [28]:
len(str(1162010100100010001))

19

In [29]:
official_price_df = official_price_df[official_price_df['토지코드_length'] == 19]
official_price_df = official_price_df.drop(columns=['토지코드_length'])
print(official_price_df.shape)
official_price_df.head()

(30377746, 13)

,시도명,시군구명,법정동명,토지코드,공시지가(원/㎡),시군구코드,법정동코드,필지구분코드,필지구분명,본번,부번,기준년도,기준년월
0,서울특별시,강남구,개포동,1168010300100010001,280000,11680,10300,1,토지,1,1,1990,1990-01-01
1,서울특별시,강남구,개포동,1168010300100010001,480000,11680,10300,1,토지,1,1,1991,1991-01-01
2,서울특별시,강남구,개포동,1168010300100010001,1300000,11680,10300,1,토지,1,1,1992,1992-01-01
3,서울특별시,강남구,개포동,1168010300100010001,1500000,11680,10300,1,토지,1,1,1993,1993-01-01
4,서울특별시,강남구,개포동,1168010300100010001,1500000,11680,10300,1,토지,1,1,1994,1994-01-01

In [30]:
official_price_df['토지코드'] = official_price_df['토지코드'].apply(lambda x: int(x))

In [31]:
official_price_df['토지코드'] = official_price_df['토지코드'].astype('Int64')

In [32]:
official_price_df['본번_토지코드'] = official_price_df['토지코드'].apply(lambda x: int(str(x)[-8:-4]))
official_price_df['부번_토지코드'] = official_price_df['토지코드'].apply(lambda x: int(str(x)[-4:]))

In [33]:
print(official_price_df.shape)
official_price_df.head()

(30377746, 15)

,시도명,시군구명,법정동명,토지코드,공시지가(원/㎡),시군구코드,법정동코드,필지구분코드,필지구분명,본번,부번,기준년도,기준년월,본번_토지코드,부번_토지코드
0,서울특별시,강남구,개포동,1168010300100010001,280000,11680,10300,1,토지,1,1,1990,1990-01-01,1,1
1,서울특별시,강남구,개포동,1168010300100010001,480000,11680,10300,1,토지,1,1,1991,1991-01-01,1,1
2,서울특별시,강남구,개포동,1168010300100010001,1300000,11680,10300,1,토지,1,1,1992,1992-01-01,1,1
3,서울특별시,강남구,개포동,1168010300100010001,1500000,11680,10300,1,토지,1,1,1993,1993-01-01,1,1
4,서울특별시,강남구,개포동,1168010300100010001,1500000,11680,10300,1,토지,1,1,1994,1994-01-01,1,1

In [34]:
cols_to_drop = ['토지코드', '시군구코드', '법정동코드', '필지구분코드']

In [35]:
official_price_df = official_price_df.drop(columns=cols_to_drop)
print(official_price_df.shape)
official_price_df.head()

(30377746, 11)

     시도명 시군구명 법정동명  공시지가(원/㎡) 필지구분명 본번 부번  기준년도       기준년월  본번_토지코드  부번_토지코드
0  서울특별시  강남구  개포동     280000    토지  1  1  1990 1990-01-01        1        1
1  서울특별시  강남구  개포동     480000    토지  1  1  1991 1991-01-01        1        1
2  서울특별시  강남구  개포동    1300000    토지  1  1  1992 1992-01-01        1        1
3  서울특별시  강남구  개포동    1500000    토지  1  1  1993 1993-01-01        1        1
4  서울특별시  강남구  개포동    1500000    토지  1  1  1994 1994-01-01        1        1

In [36]:
official_price_df = official_price_df.drop(columns=['시도명'])

In [37]:
official_price_df.head()

  시군구명 법정동명  공시지가(원/㎡) 필지구분명 본번 부번  기준년도       기준년월  본번_토지코드  부번_토지코드
0  강남구  개포동     280000    토지  1  1  1990 1990-01-01        1        1
1  강남구  개포동     480000    토지  1  1  1991 1991-01-01        1        1
2  강남구  개포동    1300000    토지  1  1  1992 1992-01-01        1        1
3  강남구  개포동    1500000    토지  1  1  1993 1993-01-01        1        1
4  강남구  개포동    1500000    토지  1  1  1994 1994-01-01        1        1

In [38]:
official_price_df = official_price_df.sort_values(['시군구명', '법정동명', '본번', '부번', '필지구분명', '기준년도', '기준년월']).reset_index(drop=True)
print(official_price_df.shape)
official_price_df.head()

(30377746, 10)

  시군구명 법정동명  공시지가(원/㎡) 필지구분명 본번 부번  기준년도       기준년월  본번_토지코드  부번_토지코드
0  강남구  개포동    1500000  블럭지번  1  1  1995 1995-01-01        1        1
1  강남구  개포동     170000    임야  1  1  1990 1990-01-01        1        1
2  강남구  개포동     480000    임야  1  1  1991 1991-01-01        1        1
3  강남구  개포동    1300000    임야  1  1  1992 1992-01-01        1        1
4  강남구  개포동    1500000    임야  1  1  1993 1993-01-01        1        1

In [39]:
official_price_df['필지구분명'].value_counts()

토지             29779420
임야               515640
블럭지번(지구)          33673
가지번               24874
블럭지번              16935
가지번(부분세분)          3740
블럭지번(지구-롯트)        3034
블럭지번(롯트세분)          243
기타지번                186
잘못된코드                 1
Name: 필지구분명, dtype: int64

In [40]:
official_price_df['대장구분명'] = official_price_df['필지구분명'].apply(lambda x: '산' if x == '임야' else '일반')

In [41]:
official_price_df['대장구분명'].value_counts()

일반    29862106
산       515640
Name: 대장구분명, dtype: int64

In [42]:
official_price_df.head()

  시군구명 법정동명  공시지가(원/㎡) 필지구분명 본번 부번  기준년도       기준년월  본번_토지코드  부번_토지코드 대장구분명
0  강남구  개포동    1500000  블럭지번  1  1  1995 1995-01-01        1        1    일반
1  강남구  개포동     170000    임야  1  1  1990 1990-01-01        1        1     산
2  강남구  개포동     480000    임야  1  1  1991 1991-01-01        1        1     산
3  강남구  개포동    1300000    임야  1  1  1992 1992-01-01        1        1     산
4  강남구  개포동    1500000    임야  1  1  1993 1993-01-01        1        1     산

In [43]:
print(official_price_df.shape)

(30377746, 11)

In [44]:
official_price_df = official_price_df[
    (official_price_df['필지구분명'] == '토지')
    |(official_price_df['필지구분명'] == '임야')
]

In [47]:
official_price_df = official_price_df.reset_index(drop=True)

In [49]:
official_price_df = official_price_df.drop(columns=['필지구분명'])

In [50]:
print(official_price_df.shape)
official_price_df.head()

(30295060, 10)

  시군구명 법정동명  공시지가(원/㎡) 본번 부번  기준년도       기준년월  본번_토지코드  부번_토지코드 대장구분명
0  강남구  개포동     170000  1  1  1990 1990-01-01        1        1     산
1  강남구  개포동     480000  1  1  1991 1991-01-01        1        1     산
2  강남구  개포동    1300000  1  1  1992 1992-01-01        1        1     산
3  강남구  개포동    1500000  1  1  1993 1993-01-01        1        1     산
4  강남구  개포동    1500000  1  1  1994 1994-01-01        1        1     산

In [51]:
official_price_df = official_price_df.rename(columns={'본번':'본번_original', '부번':'부번_original',
                                                      '본번_토지코드':'본번', '부번_토지코드':'부번'
                                                     })

In [52]:
official_price_df.head()

  시군구명 법정동명  공시지가(원/㎡) 본번_original 부번_original  기준년도       기준년월  본번  부번 대장구분명
0  강남구  개포동     170000           1           1  1990 1990-01-01   1   1     산
1  강남구  개포동     480000           1           1  1991 1991-01-01   1   1     산
2  강남구  개포동    1300000           1           1  1992 1992-01-01   1   1     산
3  강남구  개포동    1500000           1           1  1993 1993-01-01   1   1     산
4  강남구  개포동    1500000           1           1  1994 1994-01-01   1   1     산

In [54]:
official_price_df = official_price_df.drop(columns=['본번_original', '부번_original'])
print(official_price_df.shape)

(30295060, 8)

In [55]:
official_price_df.head()

  시군구명 법정동명  공시지가(원/㎡)  기준년도       기준년월  본번  부번 대장구분명
0  강남구  개포동     170000  1990 1990-01-01   1   1     산
1  강남구  개포동     480000  1991 1991-01-01   1   1     산
2  강남구  개포동    1300000  1992 1992-01-01   1   1     산
3  강남구  개포동    1500000  1993 1993-01-01   1   1     산
4  강남구  개포동    1500000  1994 1994-01-01   1   1     산

In [56]:
official_price_df = official_price_df.sort_values(['시군구명', '법정동명', '대장구분명', '본번', '부번', '기준년도', '기준년월']).reset_index(drop=True)
print(official_price_df.shape)
official_price_df.head()

(30295060, 8)

  시군구명 법정동명  공시지가(원/㎡)  기준년도       기준년월  본번  부번 대장구분명
0  강남구  개포동     170000  1990 1990-01-01   1   1     산
1  강남구  개포동     480000  1991 1991-01-01   1   1     산
2  강남구  개포동    1300000  1992 1992-01-01   1   1     산
3  강남구  개포동    1500000  1993 1993-01-01   1   1     산
4  강남구  개포동    1500000  1994 1994-01-01   1   1     산

In [57]:
official_price_df = official_price_df.drop_duplicates(subset=['시군구명', '법정동명', '대장구분명', '본번', '부번', '기준년도'], keep='last')
print(official_price_df.shape)
official_price_df.head()

(30239919, 8)

  시군구명 법정동명  공시지가(원/㎡)  기준년도       기준년월  본번  부번 대장구분명
0  강남구  개포동     170000  1990 1990-01-01   1   1     산
1  강남구  개포동     480000  1991 1991-01-01   1   1     산
2  강남구  개포동    1300000  1992 1992-01-01   1   1     산
3  강남구  개포동    1500000  1993 1993-01-01   1   1     산
4  강남구  개포동    1500000  1994 1994-01-01   1   1     산

In [58]:
%%time
official_price_df.to_csv('./Prepped Data/official_price_20220124.csv', index=False)

Wall time: 2min 54s